*.aux
*.bbl
*.blg
*.log
*.out
*.txt
*.ff2m
*.dat
*.msh
*.ps
*.m~
*BAK
*.pref
*_CASES/*/html
*_CASES/*/.*.cached_commit
**/SF_VersionDependent.idp
**/WORK*
**/FIGURES
**/RESULTS/
*.bak
freefem++.pref
workdir.idp
SF_Geom.*
Param_Adaptmesh.*
Param_Mapping.*
.DS_Store
public/stable
public/development
OLD
*.edp-e
*.edp-e-e-e
*.edp-e-e
*/*/Param_Mapping.edp
.!*
*.edp~
SOURCES_FREEFEM/SF_Split.m
**/.stabfem_log.bash
*.cached*
octave-workspace
**/html
**/*.oldcache
*.png
**/HBN/*
*.mat
*CASES/**/*.html
public/*/*.html
public/*/*/*.html
public/newwebsite
